footer {
  padding: 22px 15px 30px;
  display: flex;
  justify-content: space-between; }
  footer .social {
    display: flex;
    align-items: center; }
    footer .social a {
      width: 27px;
      height: 27px;
      margin-right: 13px; }
      footer .social a.youtube {
        width: 34px;
        height: 23px;
        margin-right: 0; }
      footer .social a:hover {
        filter: contrast(175%) brightness(3%); }
  footer p {
    font-size: 11px;
    line-height: 24px; }

@media (max-width: 480px) {
  footer {
    flex-direction: column;
    padding: 12px 10px; }
    footer p {
      text-align: center;
      width: 100%;
      margin-bottom: 0;
      align-self: flex-end; } }
