header {
  background: transparent;
  position: relative;
  z-index: 1; }
  header > .container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header > .container .logo p {
      margin: 0;
      font-size: 18px;
      font-weight: 600; }
    header > .container .menu-burger {
      display: flex;
      align-items: center;
      cursor: pointer; }
      header > .container .menu-burger img {
        width: 18px;
        height: 16px;
        margin-right: 13px; }
      header > .container .menu-burger p {
        font-size: 18px;
        margin: 0; }
  header.scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff; }

@media (max-width: 480px) {
  header .container {
    padding-top: 15px;
    padding-bottom: 15px; } }
  @media (max-width: 480px) and (max-width: 480px) {
    header .container .logo p {
      font-size: 14px; } }
