.about-us-artwork .social {
  margin-bottom: 65px; }

.about-us-artwork .gallery #grid::before {
  content: '3 .column.size-1of3'; }

.about-us-artwork .gallery #grid .column {
  float: left; }

.about-us-artwork .gallery #grid .size-1of3 {
  width: 33.333%; }

.about-us-artwork .gallery #grid .paint {
  margin: 0 10px;
  transition: all .3s;
  text-decoration: none;
  color: #000; }
  .about-us-artwork .gallery #grid .paint:hover {
    transform: scale(1.1); }

.about-us-artwork .gallery #grid > div:first-child .paint {
  margin-right: 20px;
  margin-left: 0; }

.about-us-artwork .gallery #grid > div:last-child .paint {
  margin-left: 20px;
  margin-right: 0; }

.about-us-artwork .gallery #grid > div:nth-child(2) {
  padding-top: 95px; }

.about-us-artwork .gallery #grid .paint {
  margin-bottom: 20px; }
  .about-us-artwork .gallery #grid .paint:last-child {
    margin-bottom: 0; }

.about-us-artwork .gallery #grid .paint {
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 15.36px 0.64px rgba(92, 110, 161, 0.22);
  border-radius: 6px;
  font-style: italic; }
  .about-us-artwork .gallery #grid .paint .image {
    margin-bottom: 55px; }
  .about-us-artwork .gallery #grid .paint .name {
    padding-left: 35px;
    font-weight: 300;
    font-size: 15px; }
    .about-us-artwork .gallery #grid .paint .name b {
      display: inline-block;
      margin-right: 10px; }
    .about-us-artwork .gallery #grid .paint .name span {
      color: #828282; }
  .about-us-artwork .gallery #grid .paint .type {
    font-weight: 300;
    padding-left: 35px;
    font-size: 15px;
    color: #828282;
    margin: 0 0 15px; }

.about-us-artwork .gallery .clear {
  clear: both; }

.about-us-artwork .subscribe {
  margin-top: 160px;
  clear: both; }

@media (max-width: 767px) {
  .about-us-artwork .gallery #grid::before {
    content: '2 .column.size-1of2'; }
  .about-us-artwork .gallery #grid .size-1of2 {
    width: 50%; }
  .about-us-artwork .gallery #grid > div:first-child .paint {
    margin-right: 10px; }
  .about-us-artwork .gallery #grid > div:last-child .paint {
    margin-left: 10px; }
  .about-us-artwork .gallery #grid .paint .image {
    margin-bottom: 25px; }
  .about-us-artwork .gallery #grid .paint .name {
    padding-left: 10px; }
  .about-us-artwork .gallery #grid .paint .type {
    padding-left: 10px; } }

@media (max-width: 575px) {
  .about-us-artwork .gallery #grid .paint .name {
    padding: 0 10px; }
  .about-us-artwork .gallery #grid .paint .type {
    padding: 0 10px; } }

@media (max-width: 480px) {
  .about-us-artwork .gallery #grid:before {
    content: '1 .column.size-1of1'; }
  .about-us-artwork .gallery #grid .size-1of1 {
    width: 100%; }
  .about-us-artwork .gallery #grid .paint .name {
    font-size: 18px; } }
