.blog-level-3 .banner {
  display: flex;
  flex-direction: column;
  width: 770px;
  margin: 0 auto 100px; }
  .blog-level-3 .banner .title {
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 35px;
    position: relative;
    margin: 0 0 20px; }
    .blog-level-3 .banner .title:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #162443; }
  .blog-level-3 .banner .info {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #6d6d6d;
    margin-bottom: 25px; }
    .blog-level-3 .banner .info * {
      margin-right: 10px; }
      .blog-level-3 .banner .info *:last-child {
        margin-right: 0; }
  .blog-level-3 .banner .image {
    border-radius: 6px;
    width: 100%;
    display: flex;
    box-shadow: 0 15px 15.36px 0.64px rgba(92, 110, 161, 0.22); }
    .blog-level-3 .banner .image img {
      object-fit: cover;
      object-position: center center; }

.blog-level-3 .info-block {
  position: relative; }
  .blog-level-3 .info-block h2 {
    font-family: Futura;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 100px;
    text-align: justify; }
  .blog-level-3 .info-block .user-btns {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .blog-level-3 .info-block .user-btns button {
      width: 17px;
      height: 17px;
      padding: 10px;
      box-sizing: content-box;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      cursor: pointer;
      outline: none; }
      .blog-level-3 .info-block .user-btns button:hover {
        filter: contrast(175%) brightness(3%); }
      .blog-level-3 .info-block .user-btns button.like {
        transform: scale(-1, 1); }
      .blog-level-3 .info-block .user-btns button.active {
        width: 27px;
        height: 27px; }
      .blog-level-3 .info-block .user-btns button img {
        width: 100%;
        height: 100%; }

.blog-level-3 .content {
  margin-bottom: 20px; }
  .blog-level-3 .content * {
    font-size: 16px;
    margin: 0 0 10px; }
  .blog-level-3 .content p {
    font-weight: 300;
    text-align: justify; }
  .blog-level-3 .content .img-block {
    margin: 100px 0 170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .blog-level-3 .content .img-block .image {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .blog-level-3 .content .img-block .image img {
        box-shadow: 0 16px 26.73px 0.27px rgba(92, 110, 161, 0.17);
        width: 80%;
        height: auto; }
  .blog-level-3 .content blockquote {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    padding: 10px 30px;
    position: relative;
    margin-bottom: 40px; }
    .blog-level-3 .content blockquote:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 15px;
      background: #000; }
  .blog-level-3 .content ul {
    padding-left: 75px;
    margin: 0 0 45px;
    list-style: none; }
    .blog-level-3 .content ul li {
      padding-left: 40px;
      position: relative;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px; }
      .blog-level-3 .content ul li:last-child {
        margin-bottom: 0; }
      .blog-level-3 .content ul li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #000; }

.blog-level-3 .popular {
  position: relative; }
  .blog-level-3 .popular:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 450px;
    background: #f4f8fa; }
  .blog-level-3 .popular .container {
    display: flex;
    flex-direction: column; }
    .blog-level-3 .popular .container h2 {
      color: #f4f8fa;
      align-self: flex-end;
      font-weight: 600;
      font-size: 48px;
      padding-right: 10%;
      margin: 0 0 35px; }
    .blog-level-3 .popular .container .title {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 0 50px; }
  .blog-level-3 .popular .slider {
    position: relative;
    z-index: 3; }
    .blog-level-3 .popular .slider .wrapper {
      overflow-x: scroll;
      width: 100%;
      position: relative; }
      .blog-level-3 .popular .slider .wrapper::-webkit-scrollbar {
        height: 1px;
        width: 1px; }
      .blog-level-3 .popular .slider .wrapper::-webkit-scrollbar-track {
        background: transparent; }
      .blog-level-3 .popular .slider .wrapper::-webkit-scrollbar-thumb {
        background: transparent; }
      .blog-level-3 .popular .slider .wrapper::-webkit-scrollbar-thumb:hover {
        background: transparent; }
      .blog-level-3 .popular .slider .wrapper .blocks {
        width: max-content;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 0 80px 50px;
        margin-bottom: 50px; }
        .blog-level-3 .popular .slider .wrapper .blocks .elem {
          flex: 1;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          box-shadow: 0 16px 26.73px 0.27px rgba(92, 110, 161, 0.17);
          margin: 0 20px;
          width: min-content; }
          .blog-level-3 .popular .slider .wrapper .blocks .elem .image {
            width: auto; }
            .blog-level-3 .popular .slider .wrapper .blocks .elem .image img {
              width: auto; }
          .blog-level-3 .popular .slider .wrapper .blocks .elem .text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;
            padding: 20px;
            background: #fff;
            font-size: 14px;
            font-weight: 300; }
            .blog-level-3 .popular .slider .wrapper .blocks .elem .text .name {
              font-weight: 700;
              line-height: 14px;
              margin: 0 0 15px;
              text-transform: uppercase; }
            .blog-level-3 .popular .slider .wrapper .blocks .elem .text .short-desc {
              margin: 0 0 15px; }
              .blog-level-3 .popular .slider .wrapper .blocks .elem .text .short-desc:after {
                content: '...'; }
            .blog-level-3 .popular .slider .wrapper .blocks .elem .text .read {
              margin: 0;
              color: #1170ff; }
    .blog-level-3 .popular .slider .arrows {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      user-select: none;
      pointer-events: none;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .blog-level-3 .popular .slider .arrows .arrow {
        position: relative;
        right: 30px;
        width: 60px;
        height: 60px;
        background: url("../img/svg/next-white.svg") center center/50% 50% no-repeat #2e45f1;
        pointer-events: auto;
        border-radius: 50%;
        user-select: auto;
        cursor: pointer; }
        .blog-level-3 .popular .slider .arrows .arrow.prev {
          right: auto;
          left: 30px;
          transform: rotate(180deg); }

@media (max-width: 1100px) {
  .blog-level-3 .info-block .short-desc {
    padding-right: 60px; }
  .blog-level-3 .info-block .user-btns {
    transform: none; } }

@media (max-width: 1024px) {
  .blog-level-3 .popular:before {
    width: 40%; }
  .blog-level-3 .popular .container h2 {
    padding-right: 0; } }

@media (max-width: 768px) {
  .blog-level-3 .banner {
    width: 100%; }
  .blog-level-3 .info-block h2 {
    margin-bottom: 40px; }
  .blog-level-3 .content .img-block {
    margin-bottom: 40px; }
  .blog-level-3 .popular .slider .wrapper .blocks .elem .image img {
    max-width: 60vw; }
  .blog-level-3 .popular .slider .arrows .arrow {
    right: 10px;
    width: 30px;
    height: 30px; }
    .blog-level-3 .popular .slider .arrows .arrow.prev {
      left: 10px; } }

@media (max-width: 568px) {
  .blog-level-3 .info-block {
    display: flex;
    flex-direction: column-reverse; }
    .blog-level-3 .info-block .user-btns {
      position: static;
      flex-direction: row;
      justify-content: space-between; }
      .blog-level-3 .info-block .user-btns button {
        width: 25px;
        height: 25px; }
    .blog-level-3 .info-block .short-desc {
      padding-right: 0; }
  .blog-level-3 .popular:before {
    content: none; }
  .blog-level-3 .popular .slider .wrapper .blocks {
    padding: 0 30px 30px; }
  .blog-level-3 .popular .slider .arrows {
    display: none; } }

@media (max-width: 480px) {
  .blog-level-3 .banner {
    margin-bottom: 40px; }
  .blog-level-3 .content ul {
    padding-left: 0; }
  .blog-level-3 .popular .container h2 {
    font-size: 36px; }
  .blog-level-3 .popular .slider .wrapper.blocks {
    padding: 0 10px 30px; } }
