.courses-page .courses.container .grid:after {
  content: none; }

.courses-page .parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background: url("../img/parallax_courses_BG.png") center center/cover no-repeat fixed; }
  .courses-page .parallax a {
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s; }
    .courses-page .parallax a:hover {
      color: #fff;
      background: rgba(104, 116, 84, 0.8); }

@media (max-width: 480px) {
  .courses-page .parallax {
    height: 150px; } }
