.index {
  overflow-x: hidden; }
  .index .creative-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 261px 0 77px;
    margin-bottom: 150px;
    position: relative; }
    .index .creative-space:hover .hidden {
      opacity: 0; }
    .index .creative-space img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: top center;
      z-index: 0;
      transition: all .6s; }
      .index .creative-space img:last-child {
        z-index: -1; }
    .index .creative-space h2 {
      font-weight: 700;
      color: #fff;
      font-size: 48px;
      letter-spacing: 20px;
      text-align: center;
      margin: 0 0 47px;
      position: relative;
      z-index: 1; }
      .index .creative-space h2:after {
        content: '';
        position: absolute;
        height: 131px;
        right: -300px;
        top: 0;
        transform: translateY(-33%);
        z-index: -1;
        width: 440px;
        background: url("../img/blue-stroke-paint-brush.png") center center/100% 100% no-repeat; }
    .index .creative-space p {
      font-size: 16px;
      color: #fff;
      margin: 0 0 100px;
      padding-left: 31px;
      position: relative;
      z-index: 1; }
      .index .creative-space p:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        background-color: #036ade; }
    .index .creative-space a {
      color: #fff;
      font-size: 16px;
      font-weight: 800;
      position: relative;
      z-index: 1; }
      .index .creative-space a:hover {
        text-decoration: none; }
  .index .about-us, .index .why-us .container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 200px;
    position: relative;
    z-index: 1; }
    .index .about-us .image, .index .why-us .container .image {
      margin-top: 25px;
      width: 50%;
      padding-right: 50px;
      box-sizing: border-box; }
      .index .about-us .image img, .index .why-us .container .image img {
        box-shadow: 13px 13px 19.44px 7.56px rgba(126, 160, 255, 0.11); }
    .index .about-us .text, .index .why-us .container .text {
      width: 50%;
      display: flex;
      flex-direction: column; }
      .index .about-us .text h2, .index .why-us .container .text h2 {
        align-self: flex-end;
        font-size: 48px;
        color: #f1f1f1;
        letter-spacing: 10px;
        margin: 0 0 45px;
        font-weight: 600;
        position: relative;
        padding-right: 36px; }
        .index .about-us .text h2:after, .index .why-us .container .text h2:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          width: 20px;
          height: 20px;
          background-color: #000000; }
      .index .about-us .text .desc, .index .why-us .container .text .desc {
        display: flex;
        flex-direction: column; }
      .index .about-us .text b, .index .why-us .container .text b {
        font-weight: 700;
        font-family: Futura;
        font-size: 24px;
        margin-bottom: 24px;
        display: inline-block; }
      .index .about-us .text p, .index .why-us .container .text p {
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 24px; }
        .index .about-us .text p:last-child, .index .why-us .container .text p:last-child {
          margin-bottom: 50px; }
      .index .about-us .text a, .index .why-us .container .text a {
        font-weight: 500;
        font-size: 16px;
        color: #4c4c4c;
        margin: 0 auto;
        text-transform: uppercase; }
        .index .about-us .text a:hover, .index .why-us .container .text a:hover {
          text-decoration: none; }
  .index .parallax {
    display: flex;
    align-items: center;
    justify-content: center; }
    .index .parallax.first {
      height: 300px;
      background: url("../img/parallax_BG.png") center center/cover no-repeat fixed; }
    .index .parallax.second {
      height: 660px;
      background: url("../img/parallax_BG2.png") center center/cover no-repeat fixed; }
    .index .parallax a {
      padding: 15px 25px;
      background: rgba(255, 255, 255, 0.8);
      color: #000;
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
      text-decoration: none;
      transition: all .3s; }
      .index .parallax a:hover {
        color: #fff;
        background: rgba(104, 116, 84, 0.8); }
  .index .why-us {
    padding: 140px 0 77px;
    position: relative;
    background: #ececec;
    margin-bottom: 145px; }
    .index .why-us:after {
      content: '';
      width: 33%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff; }
    .index .why-us .container {
      margin-bottom: 0; }
      .index .why-us .container .image img {
        box-shadow: 0 13px 19.44px 7.56px rgba(126, 160, 255, 0.11); }
      .index .why-us .container .text h2 {
        color: #cacacc; }
  .index .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 167px; }
    .index .form h2 {
      font-family: Futura;
      font-weight: 700;
      font-size: 36px;
      margin: 0 0 80px;
      text-align: center; }

@media (max-width: 1365px) {
  .index .creative-space {
    background-position: left center;
    background-size: auto 100%; } }

@media (max-width: 1200px) {
  .index .creative-space h2:after {
    width: 330px;
    height: 100px;
    right: -200px;
    transform: translateY(-24%); } }

@media (max-width: 1023px) {
  .index .creative-space {
    max-width: none;
    background-size: auto 125%;
    padding-top: 133px; }
    .index .creative-space h2 {
      font-size: 42px;
      letter-spacing: 10px; }
  .index .about-us, .index .why-us .container {
    flex-direction: column;
    margin-bottom: 100px; }
    .index .about-us .image, .index .why-us .container .image {
      width: 60%;
      padding-right: 0;
      margin: 0 auto 25px; }
    .index .about-us .text, .index .why-us .container .text {
      width: 100%; }
  .index .why-us {
    padding: 70px 0 40px;
    margin-bottom: 20px; }
    .index .why-us .container {
      margin-bottom: 40px; }
  .index .form {
    margin-bottom: 80px; }
    .index .form .btn {
      width: 228px; }
  .index .parallax.second {
    height: 330px; } }

@media (max-width: 767px) {
  .index .about-us .image, .index .why-us .container .image {
    width: 80%; } }

@media (max-width: 575px) {
  .index .creative-space h2:after {
    content: none; }
  .index .form h2 {
    margin-bottom: 30px; }
  .index .why-us {
    padding-bottom: 20px;
    margin-bottom: 60px; } }

@media (max-width: 480px) {
  .index .creative-space p {
    text-align: center;
    padding-left: 0; }
    .index .creative-space p:before {
      left: 0;
      right: 0;
      bottom: auto;
      margin: auto;
      top: -25px; }
  .index .about-us .image, .index .why-us .container .image {
    width: 100%; }
  .index .about-us .text h2, .index .why-us .container .text h2 {
    font-size: 32px;
    margin-bottom: 25px; }
  .index .form .btn {
    width: 100%; } }
